#lang{
    float: right;
    width: 20%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font: 16px bold Tahoma;
}
#greeting{
    font:26px bold Tahoma;
}